__pycache__/
*.py[cod]
*$py.class
.venv/
env/
*.egg-info/
.ipynb_checkpoints/
metastore_db/
spark-warehouse/
derby.log
data/raw/
data/bronze/
data/silver/
data/gold/
*.csv
*.zip
*.gz
*.json.zip
!data/sample/*.txt
!data/sample/*.json
.DS_Store
.idea/
.vscode/
htmlcov/
.coverage
.pytest_cache/
